.singleOrderHistoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;
  // background: yellow;
  width: 90%;
  padding: 0 20px;
  .singleOrderHistoryImgBox {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px;
    // background: yellow;
    gap: 5px;
    width: 200px;
    .singleOrderHistoryMultipleItemImgBox {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .singleOrderHistoryInfoBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }
  .singleOrderHistoryPriceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
